# local package
-e .

# runtime dependencies — только для работы сервиса
click
python-dotenv>=0.5.1
mlflow==3.13.0
implicit
fastapi
uvicorn[standard]
pydantic
scikit-learn
jinja2
aiofiles
prometheus-client
